/*
*   Common CSS library
*   @author:    Sigit Noviandi
*   @since:     November 2018
*/

/* -------- variables -------*/
@main-purple: #570775;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

a {
    transition: color 0.5s;
    
    &:hover {
        text-decoration: none;
    }
}

/* -------- header -------- */
header {
    background-color: @main-purple !important;
    
    #navbar-header {

    }

    .navbar-brand {
        .logo-img {
            max-width: 200px;
        }
    }
}

.article-wrapper {
    .article-title {
        a {
            color: @main-purple !important;
            
            &:hover {
                color: lighten(@main-purple, 10%) !important;
            }
        }
    }
}

.single {
    .article-title {
        color: @main-purple !important;
    }
}

footer {
    .container {
        p {
            margin: 1rem 0;
        }
    }
}



