/*
*   Common CSS library
*   @author:    Sigit Noviandi
*   @since:     November 2018
*/

a {
    cursor: pointer;
}

.form-control {
    border-radius: 0;
}

.main-header {
    .logo {
        .logo-lg {
            .logo-img {
                width: 100%;
            }
        }
    }
}

.button-wrapper {
    margin-bottom: 5px;
    .btn {
        margin-left: 5px;
    }
}

.action-wrapper {
    .btn {
        margin-left: 5px;
    }
}

.form-group {
    label {
        font-weight: bold;
    }
}

.select2 {
    .select2-selection__choice {
        color: #000 !important;
    }
}

.article-form {
    .featured-image {
        width: 100%;
    }
}